*__pycache__*python-env/
python-env.tar.xz
python_libs/barnapi/app/__pycache__/
*.pyc
python-env/*
barn-server/mongodb/mongo-volume/*
barn-server/nginx/cert/barn.myhomecloud.be*
.vscode/
examples/export/myhomecloud.yml
