<html>
   <head>
      <link rel="icon" type='image/x-icon' href="favicon.ico"/>
   </head>
   <body>
      <form action = "/api/v1/admin/import" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" accept=".json,.yml,.yaml,.ini"/><br>
         <input type="checkbox" id="keep_existing" name="keep">
         <label for="keep_existing"> Keep the existing groups and hosts</label><br>
         <br>
         <input type = "Submit"/>
      </form>   
   </body>
</html>